body {
  margin: 0;
  font-family: sans-serif;
  background: #000000;
  background-image: url(https://st3.depositphotos.com/34597116/36157/i/450/depositphotos_361571294-stock-photo-vector-grunge-overlay-texture-high.jpg);
  color: white;
  text-align: center;
}

[draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  -moz-user-drag: element;
  -webkit-user-drag: element;
  -khtml-user-drag: element;
  -webkit-user-drag: element;
}